body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.top-right img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.about-left img {
    width: 40%;
    margin-left: 50px;
    padding-left: 50px;
}

.about-right {
    margin: 40px 20px;
    padding: 10px 40px;
}

.about {
    background-image: url(images/about-cover.png);
    background-repeat: no-repeat;
}