body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.top-right img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.about-left img {
    width: 40%;
    margin-left: 50px;
    padding-left: 50px;
}

.about-right {
    margin: 40px 20px;
    padding: 10px 40px;
}

.about {
    background-image: url(images/about-cover.png);
    background-repeat: no-repeat;
}

.recipes {}

.center-recipes {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.center-recipes h2 {
    text-align: center;
    font-size: 40px;
}

.center-recipes p {
    text-align: justify;
}

.card {
    width: 300px;
    background-color: #e5f3f3;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-body {}

.card-title {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.card-text {}

.card-placement {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.info-container {
    margin: 50px;
}

.main-info {
    display: flex;
    padding: 18px;
    width: 80%;
    margin-left: 100px;
    box-shadow: 10px 10px 40px #ddd;
    border-radius: 15px;
}

.subscriber {
    margin: auto;
    padding: 10px 80px;
}

.subscriber h2 {
    font-size: 40px;
}


.footer {
    background-color: #9b2500;
    padding: 20px;

}

.footer h4 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.footer p {
    text-align: center;
    color: #ffffff;
}